.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 16px 16px 16px;
  background: $white;
  &__logo {
    width: 150px;
  }
  &__social {
    display: flex;
    &-link {
      width: 30px;
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media #{$ipad} {
    padding: 148px 16px 16px 16px;
  }
}
