.header {
  width: 100%;
  padding-top: 100px;

  &__logo {
    display: block;
    margin: 0 auto;
    width: 70%;
    max-width: 400px;
  }
  &__title {
    display: block;
    margin: 80px auto 0 auto;
    color: $white;
    text-align: center;
    font-size: 24px;
    font-weight: 200;
    width: 70%;
  }
  &__clouds {
    width: 100%;
    margin-top: 80px;
  }
  &__avatar {
    position: absolute;
    transition: transform .2s ease-out;
    &:hover {
      transform: scale(1.1);
    }
  }
  #slashluke {
    top: 0;
    left: 50px;
    height: 100px;
  }
  #slashmo {
    top: 40px;
    right: 0;
    width: 100px;
  }

  @media #{$ipad} {
    padding-top: 200px;
  }
}
